# Análisis Exploratorio Inicial
### <font color='5E5D5D'> Descripción </font>

<i><font color='C9614B'> Esta notebook corresponde a la primera de un total de tres. En las mismas se realizan las transformaciones necesarias para realizar el análisis exploratorio de los diferentes datasets obtenidos y posterior creación del dataset final compuesto por las trayectorias de los usuarios.</font></i><br>

***

# Transformaciones Iniciales

#### Librerías

In [4]:
import pandas as pd
from datetime import datetime, date

#### Archivos

In [5]:
# Levantamos archivos
ruta = 'C:/Users/bmottini/Desktop/Master 2020/Tesis/Dataset/' # archivos originales y deja el final
extension = '.csv'

def carga_archivo(nombre):
    dataset = pd.read_csv(ruta+nombre+extension)
    return dataset

## Datasets

Para ordenar el análisis, se cargan y analizan los archivos que contienen la misma información pero se encuentran dividida entre train y test.

#### Cupón Area

In [6]:
# Cargamos archivos
cupon_area_test = carga_archivo('coupon_area_test')
cupon_area_train = carga_archivo('coupon_area_train')

In [10]:
print('Total Registros Test:',len(cupon_area_test))
cupon_area_test.head()

Total Registros Test: 2165

  SMALL_AREA_NAME PREF_NAME                    COUPON_ID_hash
0              京都       京都府  c76ea297ebd3a5a4d3bf9f75269f66fa
1            ミナミ他       大阪府  c76ea297ebd3a5a4d3bf9f75269f66fa
2     銀座・新橋・東京・上野       東京都  dd74dc95ca294afa02db40a543ae1763
3       川崎・湘南・箱根他      神奈川県  c65b550cbef918796ad53b1d5b7165c1
4              埼玉       埼玉県  c65b550cbef918796ad53b1d5b7165c1

In [11]:
print('Total Registros Train:',len(cupon_area_train))
cupon_area_train.head()

Total Registros Train: 138185

  SMALL_AREA_NAME PREF_NAME                    COUPON_ID_hash
0              埼玉       埼玉県  6b263844241eea98c5a97f1335ea82af
1              千葉       千葉県  cc031f250e8bad1e24060263b9fc0ddd
2              千葉       千葉県  ba5e9b7453ca52ff711635a5d2e8102d
3              千葉       千葉県  3e1ffbedca3569f9e8032d401e8cb4e6
4              千葉       千葉県  782934b6c815b4030ea204eef7d4a734

Ambos archivos contienen información del área en donde podría ser utilizado el cupón y están referenciados a los cupones mediante el campo CUPON_IN_HAS

In [12]:
# Unificamos
coupon_area = cupon_area_train.append(cupon_area_test)
print('Total registros unificados:',len(coupon_area))
coupon_area.describe()

Total registros unificados: 140350

       SMALL_AREA_NAME PREF_NAME                    COUPON_ID_hash
count           140350    140350                            140350
unique              55        47                             19678
top                 キタ       東京都  102f4950a16930bdeb0608ed6ce4d36a
freq              3659     20091                                55

In [13]:
# Chequeamos NULLS
coupon_area[coupon_area.isnull()].count()

SMALL_AREA_NAME    0
PREF_NAME          0
COUPON_ID_hash     0
dtype: int64

In [8]:
# Verificamos cupones únicos y cantidad de localidades
print(f'''Contamos con {coupon_area.COUPON_ID_hash.nunique()} cupones unicos los cuales pueden ser utilizados\
en {coupon_area.SMALL_AREA_NAME.nunique()} diferentes localidades''')

Contamos con 19678 cupones unicos los cuales pueden ser utilizadosen 55 diferentes localidades

#### Coupon Detail Train

In [14]:
# Cargamos archivo
coupon_detail_train = carga_archivo('coupon_detail_train')

In [16]:
# Verificamos cantidad de registros y vemos el dataset
print('Cantidad de Registros:',len(coupon_detail_train))
coupon_detail_train.head()

Cantidad de Registros: 168996

,ITEM_COUNT,I_DATE,SMALL_AREA_NAME,PURCHASEID_hash,USER_ID_hash,COUPON_ID_hash
0,1,2012-03-28 15:06:06,兵庫,c820a8882374a4e472f0984a8825893f,d9dca3cb44bab12ba313eaa681f663eb,34c48f84026e08355dc3bd19b427f09a
1,1,2011-07-04 23:52:54,銀座・新橋・東京・上野,1b4eb2435421ede98c8931c42e8220ec,560574a339f1b25e57b0221e486907ed,767673b7a777854a92b73b0934ddfae7
2,1,2011-07-16 00:52:49,恵比寿・目黒・品川,36b5f9ba46c44b65587d0b16f2e4c77f,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2
3,1,2011-07-16 00:54:53,恵比寿・目黒・品川,2f30f46937cc9004774e576914b2aa1a,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2
4,1,2011-07-16 00:55:52,恵比寿・目黒・品川,4d000c64a55ac573d0ae1a8f03677f50,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2

In [18]:
# Veamos si la variable ITEM COUNT coincide con la cantidad de registros
print('Suma variable ITEM_COUNT:', coupon_detail_train.ITEM_COUNT.sum())

Suma variable ITEM_COUNT: 241823

Dado que suma más, seguramente contemos con usuarios que en una compra seleccionaron más de una vez el mismo cupón

#### Coupon List

In [20]:
# Cargamos archivo Test
coupon_list_test = carga_archivo('coupon_list_test')

In [21]:
print('Cantidad de Registros:',len(coupon_list_test))
coupon_list_test.head()

Cantidad de Registros: 310

,CAPSULE_TEXT,GENRE_NAME,PRICE_RATE,CATALOG_PRICE,DISCOUNT_PRICE,DISPFROM,DISPEND,DISPPERIOD,VALIDFROM,VALIDEND,...,USABLE_DATE_THU,USABLE_DATE_FRI,USABLE_DATE_SAT,USABLE_DATE_SUN,USABLE_DATE_HOLIDAY,USABLE_DATE_BEFORE_HOLIDAY,large_area_name,ken_name,small_area_name,COUPON_ID_hash
0,グルメ,グルメ,52,5659,2690,2012-06-26 12:00:00,2012-06-30 12:00:00,4,2012-07-01,2012-10-27,...,1.0,1.0,1.0,1.0,1.0,1.0,関西,大阪府,ミナミ他,c76ea297ebd3a5a4d3bf9f75269f66fa
1,グルメ,グルメ,52,18000,8500,2012-06-27 12:00:00,2012-07-04 12:00:00,7,2012-07-05,2012-10-13,...,1.0,1.0,1.0,0.0,0.0,1.0,関東,東京都,銀座・新橋・東京・上野,dd74dc95ca294afa02db40a543ae1763
2,グルメ,グルメ,51,7200,3480,2012-06-28 12:00:00,2012-07-05 12:00:00,7,2012-07-06,2012-12-28,...,1.0,1.0,1.0,1.0,1.0,1.0,関東,神奈川県,横浜,c65b550cbef918796ad53b1d5b7165c1
3,グルメ,グルメ,50,3300,1650,2012-06-24 12:00:00,2012-06-29 12:00:00,5,2012-06-30,2012-10-31,...,1.0,2.0,2.0,1.0,1.0,2.0,関西,兵庫県,兵庫,f93dc6e223935d817e1237f8f73b56a2
4,グルメ,グルメ,56,3650,1600,2012-06-26 12:00:00,2012-07-03 12:00:00,7,2012-07-04,2012-11-10,...,1.0,1.0,1.0,1.0,1.0,1.0,東海,愛知県,愛知,86c64391318f1d751647bf8e1882cf1d

In [22]:
# Vemos el total de columnas
coupon_list_test.columns

Index(['CAPSULE_TEXT', 'GENRE_NAME', 'PRICE_RATE', 'CATALOG_PRICE',
       'DISCOUNT_PRICE', 'DISPFROM', 'DISPEND', 'DISPPERIOD', 'VALIDFROM',
       'VALIDEND', 'VALIDPERIOD', 'USABLE_DATE_MON', 'USABLE_DATE_TUE',
       'USABLE_DATE_WED', 'USABLE_DATE_THU', 'USABLE_DATE_FRI',
       'USABLE_DATE_SAT', 'USABLE_DATE_SUN', 'USABLE_DATE_HOLIDAY',
       'USABLE_DATE_BEFORE_HOLIDAY', 'large_area_name', 'ken_name',
       'small_area_name', 'COUPON_ID_hash'],
      dtype='object')

In [24]:
# Cargamos Archivo Train
coupon_list_train = carga_archivo('coupon_list_train')

In [25]:
print('Cantidad de Registros:',len(coupon_list_train))
coupon_list_train.head(20)

Cantidad de Registros: 19413

,CAPSULE_TEXT,GENRE_NAME,PRICE_RATE,CATALOG_PRICE,DISCOUNT_PRICE,DISPFROM,DISPEND,DISPPERIOD,VALIDFROM,VALIDEND,...,USABLE_DATE_THU,USABLE_DATE_FRI,USABLE_DATE_SAT,USABLE_DATE_SUN,USABLE_DATE_HOLIDAY,USABLE_DATE_BEFORE_HOLIDAY,large_area_name,ken_name,small_area_name,COUPON_ID_hash
0,グルメ,グルメ,50,3000,1500,2011-07-08 12:00:00,2011-07-09 12:00:00,1,2011-07-10,2011-12-08,...,1.0,0.0,0.0,1.0,1.0,0.0,関東,埼玉県,埼玉,6b263844241eea98c5a97f1335ea82af
1,グルメ,グルメ,51,2080,1000,2011-07-01 12:00:00,2011-07-02 12:00:00,1,2011-07-03,2011-12-04,...,1.0,1.0,1.0,1.0,1.0,1.0,関東,千葉県,千葉,cc031f250e8bad1e24060263b9fc0ddd
2,グルメ,グルメ,50,7000,3500,2011-07-12 12:00:00,2011-07-15 12:00:00,3,2011-07-16,2012-01-11,...,1.0,1.0,1.0,1.0,1.0,1.0,関東,千葉県,千葉,ba5e9b7453ca52ff711635a5d2e8102d
3,グルメ,グルメ,50,3000,1500,2011-07-09 12:00:00,2011-07-11 12:00:00,2,2011-07-12,2011-12-01,...,1.0,0.0,0.0,1.0,1.0,1.0,関東,千葉県,千葉,3e1ffbedca3569f9e8032d401e8cb4e6
4,グルメ,グルメ,50,2000,1000,2011-07-05 12:00:00,2011-07-06 12:00:00,1,2011-07-07,2011-12-30,...,1.0,0.0,0.0,1.0,1.0,0.0,関東,千葉県,千葉,782934b6c815b4030ea204eef7d4a734
5,グルメ,グルメ,50,4000,2000,2011-07-24 12:00:00,2011-07-26 12:00:00,2,2011-07-27,2011-10-30,...,1.0,1.0,1.0,1.0,1.0,1.0,関東,千葉県,千葉,439db4336f84d4e4a13290fc0d7e6c4e
6,グルメ,グルメ,51,3495,1700,2011-09-03 12:00:00,2011-09-05 12:00:00,2,2011-09-07,2012-02-28,...,1.0,1.0,1.0,1.0,1.0,1.0,関東,東京都,新宿・高田馬場・中野・吉祥寺,c9144a97ed61cb778414b758c704d828
7,グルメ,グルメ,51,3100,1500,2011-08-02 12:00:00,2011-08-04 12:00:00,2,2011-08-05,2012-01-31,...,1.0,1.0,1.0,0.0,1.0,1.0,関西,京都府,京都,2b00d8dfc1a9fcf58e5014cbfd4a1e48
8,グルメ,グルメ,50,3500,1750,2011-08-11 12:00:00,2011-08-13 12:00:00,2,2011-08-14,2011-11-14,...,1.0,1.0,1.0,1.0,1.0,1.0,関東,東京都,恵比寿・目黒・品川,74e3a12659d38ef20378f156cfeaf204
9,グルメ,グルメ,57,10500,4500,2011-09-21 12:00:00,2011-09-24 12:00:00,3,2011-09-26,2012-02-29,...,0.0,0.0,1.0,0.0,0.0,1.0,関東,東京都,銀座・新橋・東京・上野,8a0ab8c5dd5014df8b4860233238ed44
10,グルメ,グルメ,50,3800,1900,2011-10-01 12:00:00,2011-10-03 12:00:00,2,2011-10-05,2012-03-31,...,1.0,1.0,1.0,1.0,1.0,1.0,関東,東京都,銀座・新橋・東京・上野,5544cd0309f920f50f7e0d7e7d6fa69f
11,グルメ,グルメ,50,8800,4400,2011-08-25 12:00:00,2011-08-28 12:00:00,3,2011-08-29,2012-02-24,...,1.0,1.0,1.0,0.0,1.0,1.0,関東,東京都,銀座・新橋・東京・上野,6eda8088f6394d430f1a1e0abf619f6a
12,グルメ,グルメ,50,6390,3150,2011-11-06 12:00:00,2011-11-08 12:00:00,2,2011-11-10,2012-02-29,...,1.0,0.0,0.0,0.0,0.0,0.0,関東,千葉県,千葉,305d6620db89f174eae5071749397446
13,グルメ,グルメ,50,5000,2500,2011-09-13 12:00:00,2011-09-15 12:00:00,2,2011-09-16,2012-03-13,...,1.0,1.0,1.0,1.0,1.0,1.0,東海,愛知県,愛知,784d04cd55f5eaf24b5b2a361dca722d
14,グルメ,グルメ,50,2980,1490,2011-09-13 12:00:00,2011-09-16 12:00:00,3,2011-09-18,2012-03-15,...,1.0,0.0,0.0,1.0,1.0,1.0,関東,東京都,新宿・高田馬場・中野・吉祥寺,e0a410ff611abefbfb57ca262dcdf42e
15,グルメ,グルメ,61,3939,1500,2011-08-02 12:00:00,2011-08-04 12:00:00,2,2011-08-05,2011-10-31,...,1.0,1.0,1.0,1.0,1.0,1.0,関東,東京都,銀座・新橋・東京・上野,b286f6fb50a4f849e4382c9752405d7a
16,グルメ,グルメ,50,6000,2980,2011-07-13 12:00:00,2011-07-15 12:00:00,2,2011-07-16,2011-10-31,...,1.0,1.0,2.0,1.0,1.0,1.0,関東,神奈川県,川崎・湘南・箱根他,8d7006385aa6e12ffbc519c053a9ab19
17,グルメ,グルメ,60,3000,1200,2011-11-02 12:00:00,2011-11-04 12:00:00,2,2011-11-09,2012-02-29,...,1.0,1.0,1.0,1.0,1.0,1.0,関東,東京都,新宿・高田馬場・中野・吉祥寺,4674ac722f4a15cec7ee28cf9225d808
18,グルメ,グルメ,50,4230,2100,2011-07-30 12:00:00,2011-08-01 12:00:00,2,2011-08-02,2011-11-01,...,1.0,1.0,1.0,1.0,1.0,1.0,北海道,北海道,北海道,11793f5763195a4532087cb1e771c356
19,グルメ,グルメ,51,3075,1500,2011-07-14 12:00:00,2011-07-17 12:00:00,3,2011-07-18,2011-11-30,...,1.0,1.0,1.0,1.0,1.0,1.0,関東,千葉県,千葉,634b06c096f032220506d3e0c9557fe8

In [19]:
# Vemos el total de las columnas
coupon_list_train.columns

Index(['CAPSULE_TEXT', 'GENRE_NAME', 'PRICE_RATE', 'CATALOG_PRICE',
       'DISCOUNT_PRICE', 'DISPFROM', 'DISPEND', 'DISPPERIOD', 'VALIDFROM',
       'VALIDEND', 'VALIDPERIOD', 'USABLE_DATE_MON', 'USABLE_DATE_TUE',
       'USABLE_DATE_WED', 'USABLE_DATE_THU', 'USABLE_DATE_FRI',
       'USABLE_DATE_SAT', 'USABLE_DATE_SUN', 'USABLE_DATE_HOLIDAY',
       'USABLE_DATE_BEFORE_HOLIDAY', 'large_area_name', 'ken_name',
       'small_area_name', 'COUPON_ID_hash'],
      dtype='object')

In [27]:
# Unificamos archivos y vemos caracteristicas
coupon_list = coupon_list_train.append(coupon_list_test)
print('Cantidad de Registros:',len(coupon_list))
coupon_list.describe()

Cantidad de Registros: 19723

,PRICE_RATE,CATALOG_PRICE,DISCOUNT_PRICE,DISPPERIOD,VALIDPERIOD,USABLE_DATE_MON,USABLE_DATE_TUE,USABLE_DATE_WED,USABLE_DATE_THU,USABLE_DATE_FRI,USABLE_DATE_SAT,USABLE_DATE_SUN,USABLE_DATE_HOLIDAY,USABLE_DATE_BEFORE_HOLIDAY
count,19723.000000,19723.000000,19723.000000,19723.000000,13480.000000,12617.000000,12617.000000,12617.000000,12617.000000,12617.000000,12617.000000,12617.000000,12617.000000,12617.000000
mean,58.511788,11847.183491,4338.625209,3.187700,125.830638,0.935959,0.953475,0.982405,0.981771,1.000476,1.068558,0.921693,0.938179,1.044939
std,11.267371,16893.908596,5459.358884,1.356628,46.526998,0.309470,0.314983,0.216638,0.197441,0.318525,0.563057,0.423867,0.399526,0.534148
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50.000000,3680.000000,1560.000000,2.000000,89.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,53.000000,6529.000000,2750.000000,3.000000,127.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,65.000000,13650.000000,4800.000000,4.000000,177.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,100.000000,680000.000000,100000.000000,36.000000,179.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000

El archivo cuenta con la información central de los cupones tal como precio, el descuento que se aplica al precio regular, rango de fecha en que el mismo está habilitado, los días de la semana en que se pueden utilizar, entre otros.

In [28]:
# Cantidad unica de cupones
coupon_list.COUPON_ID_hash.nunique()

19723

#### Coupon Visit Train

In [30]:
# Cargamos archivo train
coupon_visit_train = carga_archivo('coupon_visit_train')

In [31]:
print('Cantidad de Registros:', len(coupon_visit_train))
coupon_visit_train.head()

Cantidad de Registros: 2833180

,PURCHASE_FLG,I_DATE,PAGE_SERIAL,REFERRER_hash,VIEW_COUPON_ID_hash,USER_ID_hash,SESSION_ID_hash,PURCHASEID_hash
0,0,2012-03-28 14:15:00,7,7d3892e54acb559ae36c459978489330,34c48f84026e08355dc3bd19b427f09a,d9dca3cb44bab12ba313eaa681f663eb,673af822615593249e7c6a9a1a6bbb1a,NaN
1,0,2012-03-28 14:17:28,9,7d3892e54acb559ae36c459978489330,34c48f84026e08355dc3bd19b427f09a,d9dca3cb44bab12ba313eaa681f663eb,673af822615593249e7c6a9a1a6bbb1a,NaN
2,0,2012-03-28 14:20:05,16,7d3892e54acb559ae36c459978489330,17c450c3b470c045d35ec22b02daa690,d9dca3cb44bab12ba313eaa681f663eb,673af822615593249e7c6a9a1a6bbb1a,NaN
3,0,2012-03-28 14:23:16,18,7d3892e54acb559ae36c459978489330,91a15e6a95d09e5e01b50747833b317d,d9dca3cb44bab12ba313eaa681f663eb,673af822615593249e7c6a9a1a6bbb1a,NaN
4,0,2012-03-28 14:26:25,20,7d3892e54acb559ae36c459978489330,96fcbc8f6e45d5a2de1661eb140c6e82,d9dca3cb44bab12ba313eaa681f663eb,673af822615593249e7c6a9a1a6bbb1a,NaN

Archivo donde se registra la información de los usuarios y sus sesiones. Cuenta con información sobre que cupón vio, cuando y si este fue adquirido o no por el usuario. Corresponde al archivo donde se cuenta la información central para generar las trayectorias.

In [32]:
# Cntidad de sesiones
print('Cantidad de Sesiones:', coupon_visit_train.SESSION_ID_hash.nunique())

Cantidad de Sesiones: 1046179

In [33]:
# Cupones adquiridos
coupon_visit_train[['PURCHASE_FLG', 'USER_ID_hash']].groupby('PURCHASE_FLG').count()

              USER_ID_hash
PURCHASE_FLG
0                  2710791
1                   122389

In [26]:
# Veamos columna PURCHASEID_hash
print('Cantidad de registros unicos en PURCHASEID_hash:',coupon_visit_train.PURCHASEID_hash.nunique())

Cantidad de registros unicos en PURCHASEID_hash: 114774

In [38]:
# Comprobamos si todo registro que tiene PURCHASE_FLAG = 1 tiene PURCHASE_hash asociado?
coupon_visit_train[(coupon_visit_train['PURCHASE_FLG'] == 1) &
                   (coupon_visit_train['PURCHASEID_hash'].isnull())].count()

PURCHASE_FLG           0
I_DATE                 0
PAGE_SERIAL            0
REFERRER_hash          0
VIEW_COUPON_ID_hash    0
USER_ID_hash           0
SESSION_ID_hash        0
PURCHASEID_hash        0
dtype: int64

#### Prefecture Locations

In [39]:
# Cargamos archivo
prefecture_locations = carga_archivo('prefecture_locations')

In [41]:
# Vemos cantidad de registros y dataset
print('Cantidad de Registros:', len(prefecture_locations))
prefecture_locations.head(30)

Cantidad de Registros: 47

   PREF_NAME PREFECTUAL_OFFICE   LATITUDE   LONGITUDE
0        北海道               札幌市  43.063968  141.347899
1        青森県               青森市  40.824623  140.740593
2        岩手県               盛岡市  39.703531  141.152667
3        宮城県               仙台市  38.268839  140.872103
4        秋田県               秋田市  39.718600  140.102334
5        山形県               山形市  38.240437  140.363634
6        福島県               福島市  37.750299  140.467521
7        茨城県               水戸市  36.341813  140.446793
8        栃木県              宇都宮市  36.565725  139.883565
9        群馬県               前橋市  36.391208  139.060156
10       埼玉県             さいたま市  35.857428  139.648933
11       千葉県               千葉市  35.605058  140.123308
12       東京都               新宿区  35.689521  139.691704
13      神奈川県               横浜市  35.447753  139.642514
14       新潟県               新潟市  37.902418  139.023221
15       富山県               富山市  36.695290  137.211338
16       石川県               金沢市  36.594682  136.625573
17       福井県               福井市  36.065219  136.221642
18       山梨県               甲府市  35.664158  138.568449
19       長野県               長野市  36.651289  138.181224
20       岐阜県               岐阜市  35.391227  136.722291
21       静岡県               静岡市  34.976978  138.383054
22       愛知県              名古屋市  35.180188  136.906565
23       三重県                津市  34.730283  136.508591
24       滋賀県               大津市  35.004531  135.868590
25       京都府               京都市  35.021004  135.755608
26       大阪府               大阪市  34.686316  135.519711
27       兵庫県               神戸市  34.691279  135.183025
28       奈良県               奈良市  34.685333  135.832744
29      和歌山県              和歌山市  34.226034  135.167506

Archivo donde se encuentra información geográfica de las diferentes localidades.

#### User List

In [42]:
# Cargamos archivo
user_list = carga_archivo('user_list')

In [43]:
# Vemos cantidad de registros y dataset
print('Cantidad de Registros:', len(user_list))
user_list.head()

Cantidad de Registros: 22873

,REG_DATE,SEX_ID,AGE,WITHDRAW_DATE,PREF_NAME,USER_ID_hash
0,2012-03-28 14:14:18,f,25,NaN,NaN,d9dca3cb44bab12ba313eaa681f663eb
1,2011-05-18 00:41:48,f,34,NaN,東京都,560574a339f1b25e57b0221e486907ed
2,2011-06-13 16:36:58,m,41,NaN,愛知県,e66ae91b978b3229f8fd858c80615b73
3,2012-02-08 12:56:15,m,25,NaN,NaN,43fc18f32eafb05713ec02935e2c2825
4,2011-05-22 23:43:56,m,62,NaN,神奈川県,dc6df8aa860f8db0d710ce9d4839840f

Archivo donde encontramos la informacion propia del usuario tales como edad y género

In [44]:
# Vemos usuarios únicos
print('Usuarios unicos en archivo:', user_list.USER_ID_hash.nunique())

Usuarios unicos en archivo: 22873

In [45]:
# chequeamos si hay usuarios con fech de baja
user_list[~user_list['WITHDRAW_DATE'].isnull()]

,REG_DATE,SEX_ID,AGE,WITHDRAW_DATE,PREF_NAME,USER_ID_hash
16,2011-02-28 16:11:53,m,34,2012-01-26 11:54:33,北海道,617b343271094ed99f3226c2535d0a11
20,2011-10-11 22:00:45,m,45,2012-01-09 07:31:51,神奈川県,3891ee7b92e101899988f7570c78e5e4
62,2011-08-31 09:34:04,f,29,2012-03-23 21:46:14,NaN,64851f792aa67e6b25de1d82e73c5f70
69,2011-05-21 00:28:04,m,38,2012-02-03 19:10:47,東京都,204616876b76d2c150affd385ca4b8cf
73,2011-09-01 08:13:09,m,30,2011-10-03 12:35:03,NaN,1115b4b5fafe812634dafa9fb6414bf9
...,...,...,...,...,...,...
22805,2011-07-19 13:32:44,f,37,2011-08-09 23:36:39,NaN,12b3c503265aae423a455d6ea33249be
22808,2011-08-18 07:31:30,f,35,2011-10-15 20:24:13,青森県,a670d5ca1bd354d5875c84c46f6c6661
22821,2011-08-23 17:48:57,m,34,2011-10-11 21:59:59,NaN,7dba97362cb1fb9493c4899fa61e1c33
22843,2011-05-14 17:41:16,m,27,2011-11-13 02:10:36,大阪府,d5149da02891b8eab0f767b040d8f615
22848,2011-04-30 20:58:04,m,55,2011-09-04 10:55:43,東京都,e8a3c4cd1ba0232ccc35ad0be548218a

#### CAPSULE TEXT Translation

In [48]:
# Cargamos archivo
CAPSULE_TEXT_Translation = pd.read_excel(ruta+'CAPSULE_TEXT_Translation_modificado'+'.xlsx')

In [50]:
# Vemos cantidad de registros y dataset
print('Cantidad de Registros:', len(CAPSULE_TEXT_Translation))
CAPSULE_TEXT_Translation.head()

Cantidad de Registros: 25

  CAPSULE_TEXT English_Translation_ct GENRE_NAME    English_Translation_gn
0           宅配       Delivery service         宅配          Delivery service
1          グルメ                   Food        グルメ                      Food
2          ホテル                  Hotel     ホテル・旅館  Hotel and Japanese hotel
3        ヘアサロン             Hair salon      ヘアサロン                Hair salon
4           旅館         Japanese hotel   リラクゼーション                Relaxation

Contiene la traducción al inglés de las categorías de los cupones para los campos CAPSULE_TEXT y GENRE_NAME que se encuentran en el archivo unificado coupon_list

Para algunos datos ya clasificados como test, no contamos con alguna información y por ende debemos trabajar en una primera instancia con la división propuesta originalmente en el dataset.

Veamos si podemos generar un dataset Train general con la mayor cantidad de información posible para realizar el análisis exploratorio inicial.

## Dataset Unificado

In [51]:
# Partimos del dataset que contiene el log de visitas, al cual le agregamos informacion de los usuarios
ds = coupon_visit_train.merge(user_list, left_on='USER_ID_hash', right_on='USER_ID_hash', how='left')

In [52]:
# vefiricamos no perdimos datos
print(len(coupon_visit_train))
print(len(ds))

2833180
2833180

In [53]:
# Ahora sumamos la informacion de los cupones y verificamos cantidad de registros
ds = ds.merge(coupon_list, left_on='VIEW_COUPON_ID_hash', right_on='COUPON_ID_hash', how='left')
print(len(ds))

2833180

In [54]:
# Veamos si el merge realizado esta correctamente bajo el supuesto de que VIEW_COUPON_ID_hash = COUPON_ID_hash
ds[ds['VIEW_COUPON_ID_hash'] == '34c48f84026e08355dc3bd19b427f09a'][['VIEW_COUPON_ID_hash' ,'COUPON_ID_hash']].head()

                 VIEW_COUPON_ID_hash                    COUPON_ID_hash
0   34c48f84026e08355dc3bd19b427f09a  34c48f84026e08355dc3bd19b427f09a
1   34c48f84026e08355dc3bd19b427f09a  34c48f84026e08355dc3bd19b427f09a
6   34c48f84026e08355dc3bd19b427f09a  34c48f84026e08355dc3bd19b427f09a
11  34c48f84026e08355dc3bd19b427f09a  34c48f84026e08355dc3bd19b427f09a
12  34c48f84026e08355dc3bd19b427f09a  34c48f84026e08355dc3bd19b427f09a

In [55]:
# Vemos cantidad única de compras
ds.PURCHASEID_hash.nunique()

114774

In [56]:
# Informacion de las compras y dataset
print('Variables en dataset',coupon_detail_train.columns)
print('Cantidad de registros:', len(coupon_detail_train))
coupon_detail_train.head()

Variables en dataset Index(['ITEM_COUNT', 'I_DATE', 'SMALL_AREA_NAME', 'PURCHASEID_hash',
       'USER_ID_hash', 'COUPON_ID_hash'],
      dtype='object')
Cantidad de registros: 168996

,ITEM_COUNT,I_DATE,SMALL_AREA_NAME,PURCHASEID_hash,USER_ID_hash,COUPON_ID_hash
0,1,2012-03-28 15:06:06,兵庫,c820a8882374a4e472f0984a8825893f,d9dca3cb44bab12ba313eaa681f663eb,34c48f84026e08355dc3bd19b427f09a
1,1,2011-07-04 23:52:54,銀座・新橋・東京・上野,1b4eb2435421ede98c8931c42e8220ec,560574a339f1b25e57b0221e486907ed,767673b7a777854a92b73b0934ddfae7
2,1,2011-07-16 00:52:49,恵比寿・目黒・品川,36b5f9ba46c44b65587d0b16f2e4c77f,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2
3,1,2011-07-16 00:54:53,恵比寿・目黒・品川,2f30f46937cc9004774e576914b2aa1a,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2
4,1,2011-07-16 00:55:52,恵比寿・目黒・品川,4d000c64a55ac573d0ae1a8f03677f50,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2

Los PURCHASEID_hash son unicos, identifican la compra,veamos si mapean con DS.

In [57]:
# Chequeo de macheo
ds[ds['PURCHASEID_hash'] == 'c820a8882374a4e472f0984a8825893f'][['USER_ID_hash', 'COUPON_ID_hash']]

                        USER_ID_hash                    COUPON_ID_hash
11  d9dca3cb44bab12ba313eaa681f663eb  34c48f84026e08355dc3bd19b427f09a

In [58]:
# Realizamos el merge entre ds y coupon_detail_train con el campo PURCHASEID_hash
coupon_detail_list_columns = ['ITEM_COUNT', 'I_DATE','SMALL_AREA_NAME', 'PURCHASEID_hash']
ds = ds.merge(coupon_detail_train[coupon_detail_list_columns], left_on='PURCHASEID_hash',
              right_on='PURCHASEID_hash', how='left')
print('Cantidad de registros:', len(ds))
ds.columns

Cantidad de registros: 2833180

Index(['PURCHASE_FLG', 'I_DATE_x', 'PAGE_SERIAL', 'REFERRER_hash',
       'VIEW_COUPON_ID_hash', 'USER_ID_hash', 'SESSION_ID_hash',
       'PURCHASEID_hash', 'REG_DATE', 'SEX_ID', 'AGE', 'WITHDRAW_DATE',
       'PREF_NAME', 'CAPSULE_TEXT', 'GENRE_NAME', 'PRICE_RATE',
       'CATALOG_PRICE', 'DISCOUNT_PRICE', 'DISPFROM', 'DISPEND', 'DISPPERIOD',
       'VALIDFROM', 'VALIDEND', 'VALIDPERIOD', 'USABLE_DATE_MON',
       'USABLE_DATE_TUE', 'USABLE_DATE_WED', 'USABLE_DATE_THU',
       'USABLE_DATE_FRI', 'USABLE_DATE_SAT', 'USABLE_DATE_SUN',
       'USABLE_DATE_HOLIDAY', 'USABLE_DATE_BEFORE_HOLIDAY', 'large_area_name',
       'ken_name', 'small_area_name', 'COUPON_ID_hash', 'ITEM_COUNT',
       'I_DATE_y', 'SMALL_AREA_NAME'],
      dtype='object')

In [59]:
# Depuramos columnas duplicadas en los merge o que no vamos a utilizar en el analisis
#to_drop = ['USER_ID_hash_y', 'COUPON_ID_hash_y', 'PURCHASEID_hash']
#ds = ds.drop(to_drop, axis='columns')
ds = ds.rename(columns={'I_DATE_y':'SALE_DATE',
                  'I_DATE_x': 'VIEW_DATE'})
ds.columns

Index(['PURCHASE_FLG', 'VIEW_DATE', 'PAGE_SERIAL', 'REFERRER_hash',
       'VIEW_COUPON_ID_hash', 'USER_ID_hash', 'SESSION_ID_hash',
       'PURCHASEID_hash', 'REG_DATE', 'SEX_ID', 'AGE', 'WITHDRAW_DATE',
       'PREF_NAME', 'CAPSULE_TEXT', 'GENRE_NAME', 'PRICE_RATE',
       'CATALOG_PRICE', 'DISCOUNT_PRICE', 'DISPFROM', 'DISPEND', 'DISPPERIOD',
       'VALIDFROM', 'VALIDEND', 'VALIDPERIOD', 'USABLE_DATE_MON',
       'USABLE_DATE_TUE', 'USABLE_DATE_WED', 'USABLE_DATE_THU',
       'USABLE_DATE_FRI', 'USABLE_DATE_SAT', 'USABLE_DATE_SUN',
       'USABLE_DATE_HOLIDAY', 'USABLE_DATE_BEFORE_HOLIDAY', 'large_area_name',
       'ken_name', 'small_area_name', 'COUPON_ID_hash', 'ITEM_COUNT',
       'SALE_DATE', 'SMALL_AREA_NAME'],
      dtype='object')

In [60]:
# Chequeamos informacion del dataset obtenido
ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2833180 entries, 0 to 2833179
Data columns (total 40 columns):
 #   Column                      Dtype
---  ------                      -----
 0   PURCHASE_FLG                int64
 1   VIEW_DATE                   object
 2   PAGE_SERIAL                 int64
 3   REFERRER_hash               object
 4   VIEW_COUPON_ID_hash         object
 5   USER_ID_hash                object
 6   SESSION_ID_hash             object
 7   PURCHASEID_hash             object
 8   REG_DATE                    object
 9   SEX_ID                      object
 10  AGE                         int64
 11  WITHDRAW_DATE               object
 12  PREF_NAME                   object
 13  CAPSULE_TEXT                object
 14  GENRE_NAME                  object
 15  PRICE_RATE                  float64
 16  CATALOG_PRICE               float64
 17  DISCOUNT_PRICE              float64
 18  DISPFROM                    object
 19  DISPEND                     object
 20  DISPPERIOD                  float64
 21  VALIDFROM                   object
 22  VALIDEND                    object
 23  VALIDPERIOD                 float64
 24  USABLE_DATE_MON             float64
 25  USABLE_DATE_TUE             float64
 26  USABLE_DATE_WED             float64
 27  USABLE_DATE_THU             float64
 28  USABLE_DATE_FRI             float64
 29  USABLE_DATE_SAT             float64
 30  USABLE_DATE_SUN             float64
 31  USABLE_DATE_HOLIDAY         float64
 32  USABLE_DATE_BEFORE_HOLIDAY  float64
 33  large_area_name             object
 34  ken_name                    object
 35  small_area_name             object
 36  COUPON_ID_hash              object
 37  ITEM_COUNT                  float64
 38  SALE_DATE                   object
 39  SMALL_AREA_NAME             object
dtypes: float64(15), int64(3), object(22)
memory usage: 886.2+ MB

In [61]:
# Pasamos las fechas de string a datetime
ds['VIEW_DATE'] = pd.to_datetime(ds['VIEW_DATE'])
ds['WITHDRAW_DATE'] = pd.to_datetime(ds['WITHDRAW_DATE'])
ds['SALE_DATE'] = pd.to_datetime(ds['SALE_DATE'])

In [62]:
#Le agregamos las coordenadas
col_pref_loc = ['PREF_NAME', 'LATITUDE', 'LONGITUDE']
ds = ds.merge(prefecture_locations[col_pref_loc], left_on='PREF_NAME', right_on='PREF_NAME',how='left')
print('Total registros:', len(ds))

Total registros: 2833180

In [63]:
# Agregamos traducion de CAPSULE_TEXT
capsule = CAPSULE_TEXT_Translation[['CAPSULE_TEXT','English_Translation_ct']]
ds = ds.merge(capsule, left_on='CAPSULE_TEXT', right_on='CAPSULE_TEXT', how='left')
print('Total registros:',len(ds))

Total registros: 2833180

# Datos Generales

In [64]:
# Modifiquemos los nombres de las variables para poder trabajar mas facil
ds.rename(columns={'PURCHASE_FLG':'compra',
                  'VIEW_DATE':'fecha_visita',
                  'PAGE_SERIAL':'page_serial',
                  'REFERRER_hash': 'referrer_hash',
                  'VIEW_COUPON_ID_hash':'ID_cupon_visto',
                  'USER_ID_hash':'ID_usuario',
                  'SESSION_ID_hash':'ID_sesion',
                  'PURCHASEID_hash':'ID_compra',
                  'REG_DATE':'fecha_reg_usuario',
                  'SEX_ID':'sexo',
                  'AGE':'edad',
                  'WITHDRAW_DATE':'fecha_baja_usuario',
                  'PREF_NAME':'pref_name_usuario',
                  'LATITUDE':'latitud_usuario',
                  'LONGITUDE':'longitud_usuario',
                  'CAPSULE_TEXT':'capsule_text_cupon',
                  'English_Translation_ct':'Cap_tex_traducido_cupon',
#                  'English_Translation_gn':'Genre_tex_traducido_cupon',
                  'GENRE_NAME':'genre_name_cupon',
                  'PRICE_RATE':'descuento_cupon',
                  'CATALOG_PRICE':'precio_full',
                  'DISCOUNT_PRICE':'precio_dto',
                  'DISPFROM':'fecha_inicio_disponible',
                  'DISPEND':'fecha_fin_disponible',
                  'DISPPERIOD':'dias_cupon_disponible',
                  'VALIDFROM':'fecha_inicio_valido',
                  'VALIDEND':'fecha_fin_valido',
                  'VALIDPERIOD':'dias_cupon_valido',
                  'USABLE_DATE_MON':'valido_lunes',
                  'USABLE_DATE_TUE':'valido_martes',
                  'USABLE_DATE_WED':'valido_miercoles',
                  'USABLE_DATE_THU':'valido_jueves',
                  'USABLE_DATE_FRI':'valido_viernes',
                  'USABLE_DATE_SAT':'valido_sabado',
                  'USABLE_DATE_SUN':'valido_domingo',
                  'USABLE_DATE_HOLIDAY':'valido_fiestas',
                  'USABLE_DATE_BEFORE_HOLIDAY':'valido_previo_fiestas',
                  'large_area_name':'large_area_name_cupon',
                  'ken_name':'ken_name_cupon',
                  'small_area_name':'small_area_name_cupon',
                  'COUPON_ID_hash':'ID_cupon_compra',
                  'ITEM_COUNT':'cantidad_cupon_compra',
                  'SALE_DATE':'fecha_compra',
                  'SMALL_AREA_NAME':'small_area_name_compra'},inplace=True)

In [65]:
# Verificamos modificacion
ds.columns

Index(['compra', 'fecha_visita', 'page_serial', 'referrer_hash',
       'ID_cupon_visto', 'ID_usuario', 'ID_sesion', 'ID_compra',
       'fecha_reg_usuario', 'sexo', 'edad', 'fecha_baja_usuario',
       'pref_name_usuario', 'capsule_text_cupon', 'genre_name_cupon',
       'descuento_cupon', 'precio_full', 'precio_dto',
       'fecha_inicio_disponible', 'fecha_fin_disponible',
       'dias_cupon_disponible', 'fecha_inicio_valido', 'fecha_fin_valido',
       'dias_cupon_valido', 'valido_lunes', 'valido_martes',
       'valido_miercoles', 'valido_jueves', 'valido_viernes', 'valido_sabado',
       'valido_domingo', 'valido_fiestas', 'valido_previo_fiestas',
       'large_area_name_cupon', 'ken_name_cupon', 'small_area_name_cupon',
       'ID_cupon_compra', 'cantidad_cupon_compra', 'fecha_compra',
       'small_area_name_compra', 'latitud_usuario', 'longitud_usuario',
       'Cap_tex_traducido_cupon'],
      dtype='object')

In [66]:
# Modificacion registros
ds['fecha_visita_dia'] = pd.to_datetime(ds['fecha_visita']).apply(lambda x: x.date())

ds['fecha_compra_dia'] = pd.to_datetime(ds['fecha_compra']).apply(lambda x: x.date())

In [70]:
# Generamos archivo final en formato .CSV
nombre_archivo = 'ds_full'
ds.to_csv(ruta+nombre_archivo+extension,
         header=True,
         index=False)